INPUT_PATH = 'hdfs:///test/python/{date}/' # Should start with hdfs://
OUTPUT_PATH = 'hdfs:///user/hdfs/tmp/out/' # Should start with hdfs://

MYSQL_DB = 'mysql://root:password@localhost/toolman_reporting'